@media(min-width: 991px){
.carousel-container {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20.3svw;
    max-width: 20.3svw;
    max-height: 68.6svh;
    min-height: 68.6svh;
    perspective: 1000px;
    margin-top: 5.3svh;
    margin-right: 6svw;
    overflow: visible;
}

.carousel {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.carousel-item {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    transform-origin: center;
    backface-visibility: hidden;
}
}
  
@media (max-width: 991px) {
    .carousel-container {
        position: relative;
        margin: auto;
        width: 15rem;
        height: 20rem;
        perspective: 233rem;
    }
  
    .carousel {
        width: 15rem;
        height: 20rem;
        position: relative;
        transform-style: preserve-3d;
        transform: rotateY(0deg);
    }
  
    .carousel-item {
        width: 15rem;
        height: 20rem;
        position: absolute;
        background-size: cover;
        background-position: center;
        transform-origin: center;
        backface-visibility: hidden;
    }
  }
  